.commentsrow {
    margin-top: 20px;
    gap: 20px;
}
.comment {
    gap: 15px;
}
.comment .imgloaded {
    width: 30px;
    height: 30px;
}
.comment .innercommentbubble {
    background-color: var(--theme-bg);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}
.commentbubble span {
    font-weight: bold;
    font-size: 12px;
    color: var(--theme-color);
}
.commentcontrols {
    margin-top: 5px;
    gap: 20px;
}
.commentcontrols  span {
    color: var(--gray-text);
}
.innercommentcontrols {
    gap: 10px;
}
.innercommentcontrols span {
    cursor: pointer;
}
.innercommentcontrols span:hover {
    color: var(--theme-color);
}