.commentsrow {
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 20px;
}
.innercomment {
    gap: 15px;
}
.innercomment .user .imgloaded {
    width: 30px;
    height: 30px;
}
.innercomment .innercommentbubble {
    background-color: var(--theme-bg);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    gap: 3px;
}
.commentbubble span {
    font-weight: bold;
    font-size: 12px;
    color: var(--theme-color);
}
.commentcontrols {
    margin-top: 5px;
    gap: 20px;
}
.commentcontrols  span {
    color: var(--gray-text);
}
.innercommentcontrols {
    gap: 10px;
}
.innercommentcontrols span {
    cursor: pointer;
}
.innercommentcontrols span:hover, .innercommentcontrols .activelike {
    color: var(--theme-color);
}
.commentinput {
    margin-top: 25px;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.commentinput .inputcont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentinput textarea {
    padding: 10px;
    padding-right: 95px;
    min-height: 35px;
}
.commentinput .imgloaded {
    width: 30px;
    height: 30px;
}
.innercommentbubble .carouselimg {
    margin-top: 10px;
}
.innercommentbubble .imgloaded {
    max-width: 400px;
    object-fit: scale-down;
}
.replycont {
    padding-left: 45px;
}
.replyrow {
    margin-top: 25px;
    gap: 15px;
}