.imguploadpopup {
    width: 600px;
    max-width: 90%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}
.dropzonecont {
    padding: 10px;
    background-color: var(--theme-bg);
    margin-top: 10px;
    border: dashed 2px #e7e7e7;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}
.dropzonecont:hover {
    background-color: var(--light-theme-color);
    border: dashed 2px var(--theme-color);
}
.dropzonecont.disableddropzone:hover {
    background-color: var(--red-bg);
    border: dashed 2px var(--red);
    color: var(--red);
}

.dropzonecont.disableddropzone:hover h3, .dropzonecont.disableddropzone:hover i, .dropzonecont.disableddropzone:hover span {
    color: var(--red);
}
.dropzone  {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.dropzone span {
    color: var(--gray-text);
    font-size: 12px;
    margin-top: 10px;
    transition: all 0.3s;
    display: block;
}
.dropzone i {
    font-size: 30px;
    color: var(--theme-color);
    margin-bottom: 20px;
    transition: all 0.3s;
}
.dropzone h3 {
    color: var(--theme-color);
    transition: all 0.3s;
}
.selectedimgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.selectedimgs img, .selectedimgs video {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.selectedimgs i {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    
}