.albumcard {
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.albumcard .imgloaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.albumcard .imgloaded img {
    filter: brightness(90%);
}