.gridlayout > div {
    max-height: 100vh;
}
.sidebar {
    overflow-y: auto;
    display: grid;
    grid-template-rows: 200px 2fr 1.2fr;
    border-radius: 0;
    box-shadow: var(--card-shadow);
}
.sidebar .envelope {
    border-radius: 0;
}
.sidebar .sidebarcont {
    margin-bottom: 0;
}
.sidebar > div {
}
.sidebarlinksrow {
    gap: 10px;
    overflow-y: auto;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}
.sidebarlinksrow::-webkit-scrollbar {
    width: 0;
}
.sidebarlink {
    width: 100%;
    padding: 12px 10px;
    gap: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    border-radius: 10px;
    color: var(--gray-text);
}
.sidebarlink i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    box-shadow: var(--light-shadow);
    border-radius: 10px;
    background-color: #ffffff;
}
.sidebarlink:hover, .activelink {
    background-color: var(--theme-bg);
    color: var(--theme-color);
    box-shadow: inset var(--light-shadow);
}
.sidebarcont {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sidebarcont .user {
    color: var(--theme-color);
    gap: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sidebarcont .user .imgloaded {
    width: 70px;
    height: 70px;
}
.sidebarcont .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
.notificationspreview {
    height: 100%;
    overflow-y: auto;
}
.notificationspreview::-webkit-scrollbar {
    width: 0;
}

.notificationsrow {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.notificationcard {
    height: 50px;
    width: 100%;
    background-color: var(--theme-bg);
    border-radius: 10px;
}
/* .sidebarcont i {
    position: absolute;
    top: 30px;
    right: 30px;
}
.sidebarcont .fa-home {
    right: initial;
    left: 30px;
} */
@media (max-width: 800px) {
    .sidebar h3 {
        font-size: 1em;
    }
    .notificationcard {
        height: 40px;
    }
    .sidebarlink {
        padding: 10px 8px;
    }
    .sidebarlink i {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        flex-direction: row;
        display: flex;
        height: 70px;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px 10px 0 0;
    }
    .sidebar .sidebarcont, .sidebar .notificationspreview {
        display: none;
    }
    .sidebar .sidebarlinksrow {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border: none;
    }
    .sidebarlinksrow .sidebarlink {
        background-color: transparent;
        box-shadow: none;
        padding: initial;
        width: 35px;
        height: 35px;
    }
    .activelink i {
        background-color: var(--theme-color);
        color: #fff;
    }
    .sidebarlinksrow .sidebarlink span {
        display: none;
    }
}