textarea, input {
    border: solid 2px #eee;
    outline: none;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    height: 40px;
    min-height: 100px;
    resize: none;
    font-family: "Nunito", sans-serif;
    height: 40px;
}
input {
    min-height: initial;
    background-color: #fff;
    padding: 10px 15px;
}
.appinput span {
    color: var(--gray-text);
    margin-bottom: 4px;
    display: flex;
}