.mediacarousel {
    justify-content: center;
    background-color: var(--theme-bg);
    border-radius: 10px;
}
.mediacarousel .carouselimg {
    height: 450px;
    border-radius: 10px;
    cursor: pointer;
}
.carouselimg img {
    border-radius: 10px;
    transition: all 0.3s;
}
.mediacarousel:hover .carouselimg img {
    filter: brightness(80%);
}
.mediacarousel:hover .thumbnails {
    opacity: 1;
}
.thumbnails {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: all 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
.thumbnails .imgloaded {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}
.thumbnails .imgloaded img {
    border-radius: 5px;
}
.thumbnails .activethumbnailimg {
    border: solid 2px var(--theme-color);
}
.imagesliderpopup {
    display: flex;
    grid-template-rows: 1fr 70px;
    gap: 10px;
    overflow-y: auto;
}
.imagesliderpopup.gridview {
    display: grid;
}
.imagesliderpopup::-webkit-scrollbar {
    width: 0;
}
.mediacarousel .next, .mediacarousel .prev, .imagesliderpopup .next, .imagesliderpopup .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: transparent;
    font-size: 28px;
    opacity: 0;
    z-index: 100;
    transition: all 0.3s;
}
.mediacarousel .next, .imagesliderpopup .next {
    left: initial;
    right: 10px;
}
.mediacarousel:hover .next, .mediacarousel:hover .prev {
    opacity: 1;
}
.imagesliderpopup {
    max-width: 80%;
    max-height: 80vh;
}
.imagesliderpopup .prev, .imagesliderpopup .next {
    opacity: 1;
    font-size: 44px;
    left: 30px;
    transform: translateY(calc(-50% - 40px)) !important;

}
.imagesliderpopup .next {
    right: 30px;
    left: initial;
}
.imagesliderpopup .thumbnails {
    opacity: 1;
    bottom: 0;
    position: relative;
    width: 100%;
    justify-content: center;
}
.imagesliderpopup .thumbnails .imgloaded {
    width: 70px;
    height: 70px;
}
.imagesliderpopup .carouselimg .imgloaded {
    max-height: 65vh;
    background-color: transparent;
}
.imagesliderpopup figure {
    border-radius: 10px;
}
.imagesliderpopup .carouselimg .imgloaded img {
    height: 100%;
    max-height: 65vh;
    max-width: 400px;
    object-fit: scale-down;

}
.controlsheader {
    margin-bottom: 10px;
    justify-content: center;
}
.controlsheader i {
    width: 40px;
    height: 40px;
}