.post {
     box-shadow: var(--card-shadow);
     padding-bottom: 0;
}
.post .user {
    gap: 10px;
}
.post .user .flexcol .timeago {
    color: var(--gray-text);
    font-size: 12px;
    margin-top: 5px;
    text-transform: capitalize;
}
.post .user .flexcol span:first-of-type {
    color: var(--theme-color);
    font-weight: bold;
}
.posttext {
    margin: 10px 0;
    color: var(--gray-text);
}
.postimg {
   border-radius: 20px;
   width: 100%;
   overflow: hidden;
}

.postcontrols, .postactiondetails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--gray-text);
}
.postactionbtns {
    display: flex;
    gap: 10px;
    align-items: center;
}
.postcontrols {
    border-top: solid 1px var(--theme-bg);
    padding: 10px 0;
}
.postcontrols i {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .names, .count {
    gap: 5px;
}
.likedby.fa-heart, .likedby.fa-thumbs-up{
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;;
}
.likedby.fa-thumbs-up {
    background-color: var(--theme-color);
}

.postactionbtns .fa-heart:hover, .postactionbtns .fa-heart.activeactionbtn {
    background-color: var(--red);
    color: #fff;
}
.post .postactiondetails .likedbyrow .name span {
    color: var(--gray-text);
    font-size: 12px;
    margin-left: 2px;
}


.drop {
    position: absolute;
}
.drop {
    position: absolute;
    bottom: 0;
    left: 0;
}
.reactioncont, .share {
    padding: 9px 14px;
    border-radius: 10px;
    color: var(--gray-text);
    transition:  all 0.3s;
    cursor: pointer;
    font-size: 13px;
}
.reactioncont span, .share span {
    margin-left: 1px;
}
.reactioncont i {
    margin-bottom: 2px;
}
.commentcont i {
    margin-bottom: 0;
}
.activeactionbtn, .activeactionbtn + span {
    color: var(--theme-color);
}
.reactioncont:hover, .share:hover {
    background-color: var(--theme-bg);
}
.post .dropdown {
    transform: translateY(30px);
}